include LICENSE
recursive-include docs *
recursive-include bamboo/templates *
recursive-include bamboo/alembic/templates *

recursive-exclude bamboo *.pyc
recursive-exclude tests *.pyo

prune docs/_build
prune docs/_themes/.git
