-extends 'layout/base.haml'

-block content:
  .bb-wrap
    %header#header-region.navbar.navbar-default.navbar-fixed-top.bb-navbar role="navigation"
    %section#main-region
    .bb-push
  #dialog-region
  %footer#footer-region.bb-footer role="contentinfo"
  
  %script
    $(function(){
      LoadingViews.start();                
    });
