%html
  %head
    %title 
      Bamboo-App
    -block css:
      -assets "all_css"
        %link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css"
    -block js:
      -assets "all_js"
        %script src="{{ ASSET_URL }}" type="text/javascript"
  %body
    -block content:
